/* menu */ 
.menu {
    &_item {
        &:hover {
            .has_line {
                &::before {
                    width: 100%;
                }
            }
            .menu_sub {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
                transform: translateY(0);
            }
        }

        &:nth-child(2) {
            .services_link {
                &.active {
                    background-color: rgba($color: $orange, $alpha: 0.1);

                    .services_tit {
                        color: $orange;
                    }
                }
            }
        }
    }

    &_sub_link {
        &.active {
            color: $orange;
        }
    }

    &_mobile_nav {
        
    }

    &.style-blue {
        .menu_sub_link {
            &.active {
                color: $blue;
            }
        }
    }

    &.style-yellow {
        .menu_sub_link {
            &.active {
                color: $yellow;
            }
        }
    }

    &.style-red {
        .menu_sub_link {
            &.active {
                color: $red;
            }
        }
    }
}