/* shop */
.shop {
  &_product {
    &_heading {
      .form_checkbox {
        .label {
          &::before {
            border-radius: 50%;
          }
        }
        .checkbox:checked~.label::before {
          border-color: transparent;
        }
      }
    }
  }
}

.filter {
  &_category {
    .tab_btn {
      &.active {
        font-weight: 700;
        color: $black;
      }
    }
  }

  &_brand {
    .form_checkbox {
      &:has(.checkbox:checked) {

        .txt,
        .quantity {
          font-weight: 700;
          color: $black;
        }
      }
    }
  }

  &_rating {
    .rating_item {
      .radio_input {
        border: 2px solid $variant1;
        appearance: none;
        transition: border-color 0.2s ease;

        &::before {
          content: "";
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          border-radius: 50%;
          background-color: transparent;
          transition: background-color 0.2s ease;
        }

        &:checked {
          border-color: $orange;

          &::before {
            background-color: $orange;
          }
        }
      }

      .radio_input:checked + label {
        .star,
        .quantity {
          font-weight: 700;
          color: $black;
        } 
      }
    }
  }

  &_type {
    .tab_btn {
      &.active {
        background-color: $orange;
        color: $white;
        
        &::before {
          border-color: $orange;
        }
      }
    }
  }
}